<div class="dark:bg-neutral-900 h-full w-100 border-r border-r-neutral-700">
    <div class="border-b border-b-neutral-700 dark:bg-neutral-900 h-14 w-full"></div>

    <SideBarGroup Name="GENERAL">
        <SideBarNavLink Route="/" DisplayName="Dashboard" IconClass="icon-layout-dashboard"/>
        <SideBarNavLink Route="/team" DisplayName="Team" IconClass="icon-component"/>
        <SideBarNavLink Route="/tickets" DisplayName="Tickets" IconClass="icon-list"/>
        <SideBarNavLink Route="/customers" DisplayName="Customers" IconClass="icon-building"/>
        <SideBarNavLink Route="/users" DisplayName="Users" IconClass="icon-users"/>
    </SideBarGroup>

    <SideBarGroup Name="TOOLS">
        <SideBarNavLink Route="/analytics" DisplayName="Analytics" IconClass="icon-chart-line"/>
        <SideBarNavLink Route="/calendar" DisplayName="Calendar" IconClass="icon-calendar-days"/>
    </SideBarGroup>
</div>